input[type=text] {
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: .3s;
    width: 130px;
    height: 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    input[type=text]:focus {
        width: 100%;
        border-color: dodgerBlue;
        box-shadow: 0 0 8px 0 dodgerBlue;
    }

.inputWithIcon input[type=text] {
    padding-left: 40px;
}

.inputWithIcon {
    position: relative;
    margin-left: auto;
}

    .inputWithIcon i {
        position: absolute;
        left: 0;
        top: 8px;
        padding: 9px 8px;
        color: #aaa;
        transition: .3s;
    }

    .inputWithIcon input[type=text]:focus + i {
        color: dodgerBlue;
    }

    .inputWithIcon.inputIconBg i {
        background-color: #aaa;
        color: #fff;
        padding: 9px 4px;
        border-radius: 4px 0 0 4px;
    }

    .inputWithIcon.inputIconBg input[type=text]:focus + i {
        color: #fff;
        background-color: dodgerBlue;
    }

input[type=button] {
    height: 40px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.searchPageButton {
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 2%;
}

.float-right {
    float: right;
}

p {
    margin: 10px 0;
    padding: 5px;
    border: 0.5px solid #999;
    text-align: center;
}

.inputWithIcon .searchBox, .inputWithIcon i {
    margin-left: 40%
}

.searchContainer {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}
