<p>
    <b>MOVIE REPO</b> is an application that uses an external web API:
    <a href="https://www.themoviedb.org/documentation/api?language=en-US">The Movie Database</a>
    to search movies based on the <em>search keyword.</em> This app will listup all the movies
    based on the search keyword and take you to the detailed movie page if you click on the titles.
</p>
