﻿
@Scripts.Render("~/bundles/jquery")

<div id="top"></div>
<div>
    <div id="movieDetailed"></div>

    @if (ViewBag.Status)
    {
        <table>
            <thead>
                <tr>
                    <th class="column">Title</th>
                    <th class="column">Released Date</th>
                    <th class="column">Vote Count</th>
                    <th class="column">Popularity</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Model.results)
                {
                    <tr>
                        <td class="column"><a data-value=@Html.Raw(item.id) class="title">@Html.Raw(item.title)</a></td>
                        <td class="column"> @Html.Raw(item.release_date)</td>
                        <td class="column">@Html.Raw(item.vote_count)</td>
                        <td class="column"> @Html.Raw(item.popularity)</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No match found! Please try to search with other keyword.</p>
    }


</div>

@*Div containing the loading screen*@
<div class="loadingDiv"></div>

<script type="text/javascript">



    $(document).ready(function () {

        // Loading screen during ajax call
        $body = $("body");
        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });

        $('.title').click(function () {

            // scroll to the top animation
            $('body,html').animate({
                scrollTop: 0
            }, 650);

            // get the movie ID and call the API for details on the movie
            movieId = $(this).data('value');
            $.ajax({
                type: "POST",
                url: "/Home/MovieDetailed",
                data: { "movieId": movieId },
                success: function (data) {
                    $("#movieDetailed").html(data);
                }
            });
        });
    });
</script>