﻿<!-- #region Jssor Slider Begin -->
<!-- Generator: Jssor Slider Maker -->
<!-- Source: https://www.jssor.com -->
<!-- This is deep minimized code which works independently. -->

<link href="//fonts.googleapis.com/css?family=Oswald:200,300,regular,500,600,700&subset=latin-ext,vietnamese,latin,cyrillic" rel="stylesheet" type="text/css" />

<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:380px;overflow:hidden;visibility:hidden;">
    <!-- Loading Screen -->
    <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
    </div>
    <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
        <div>
            <img data-u="image" src="~/Content/images/001.jpg" />
        </div>
        <div>
            <img data-u="image" src="~/Content/images/002.jpg" />
            <div data-ts="flat" data-p="1360" style="position:absolute;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
            </div>
        </div>
        <div>
            <img data-u="image" src="~/Content/images/003.jpg" />
            <div data-ts="flat" data-p="1360" style="position:absolute;top:0px;left:0px;width:980px;height:380px;">
            </div>
        </div>
        <div>
            <img data-u="image" src="~/Content/images/004.jpg" />
        </div>
        <div>
            <img data-u="image" src="~/Content/images/005.jpg" />
        </div>
        <div>
            <img data-u="image" src="~/Content/images/006.jpg" />
        </div>
        <div>
            <img data-u="image" src="~/Content/images/007.jpg" />
        </div>
        <div data-b="0">
            <img data-u="image" src="~/Content/images/008.jpg" />
        </div>
        <div>
            <img data-u="image" src="~/Content/images/009.jpg" />
            <div data-ts="flat" data-p="1360" style="position:absolute;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
            </div>
        </div>
        <div>
            <img data-u="image" src="~/Content/images/010.jpg" />
            <div data-ts="flat" data-p="1360" style="position:absolute;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
            </div>
        </div>
    </div>
    <!-- Bullet Navigator -->
    <div data-u="navigator" class="jssorb052" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
        <div data-u="prototype" class="i" style="width:16px;height:16px;">
            <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                <circle class="b" cx="8000" cy="8000" r="5800"></circle>
            </svg>
        </div>
    </div>
    <!-- Arrow Navigator -->
    <div data-u="arrowleft" class="jssora053" style="width:55px;height:55px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
        </svg>
    </div>
    <div data-u="arrowright" class="jssora053" style="width:55px;height:55px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
        <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
            <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
        </svg>
    </div>
</div>
<!-- #endregion Jssor Slider End -->


<p> <b>MOVIE REPO</b> is an application that uses an external web API: <a href="https://www.themoviedb.org/documentation/api?language=en-US">The Movie Database</a> and provides a search feature which makes a call to this service and provides you back with the output matching your search result! </p>
<hr />
<div class="text-center">Lets start the search. Click on the button below!</div>
<button onclick="location.href='@Url.Action("Search", "Home")';return false;" class="btn searchPageButton button">Search Movies</button>

@*Div containing the loading screen*@
<div class="loadingDiv"></div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/slider")
<script type="text/javascript">
    jssor_1_slider_init();

    // Loading screen during ajax call
    $body = $("body");
    $(document).on({
        ajaxStart: function () { $body.addClass("loading"); },
        ajaxStop: function () { $body.removeClass("loading"); }
    });

</script>