﻿@model MovieSearch.Models.MovieDetailedResponse

@Scripts.Render("~/bundles/movieDetailedPage")

<div class="container movieDetailedContainer">
    <div class="row">
        <div class="col-xs-12">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 col-sm-8 product-display">
            <div class="col-lg-6 product-preview">
                <div class="zoom-btn"><span class="fa fa-search" aria-hidden="true"></span></div>
                <div class="zoom-view">
                    <img id="zoom-image" src=@Model.movie_results[0].poster_path>
                </div>
                <img id="product-image" src=@Model.movie_results[0].poster_path>
            </div>
            <div class="col-lg-6 product-data">
                <h3>@Model.movie_results[0].title</h3>
                <div class="product-details">
                    <p>@Model.movie_results[0].overview</p>
                    <ul>
                        <li> <b>Original Language</b> : @Model.movie_results[0].original_language </li>
                        <li> <b>Popularity</b> : @Model.movie_results[0].popularity </li>
                        <li> <b>Release Date</b> : @Model.movie_results[0].release_date </li>
                        <li> <b>Vote Count</b> : @Model.movie_results[0].vote_count </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
