﻿@Scripts.Render("~/bundles/jquery")

<p>Time for some entertainment, lets search for some good movies. Click on the title to get mmore details on the movies!</p>

<div class="searchContainer">
    <div class="inputWithIcon">
        <input type="text" placeholder="Search... " class="searchBox">
        <i class="fa fa-search fa-lg fa-fw" aria-hidden="true"></i>
        <input type="button" value="Search" class="searchButton btn btn-primary btn-lg" />
    </div>

    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div>Please enter the search text!</div>
        </div>

    </div>



</div>
<div id="searchResult"></div>

@*Div containing the loading screen*@
<div class="loadingDiv"></div>

<script type="text/javascript">
    $(document).ready(function () {

        // Loading screen during ajax call
        $body = $("body");
        $(document).on({
            ajaxStart: function () { $body.addClass("loading"); },
            ajaxStop: function () { $body.removeClass("loading"); }
        });

        // Buton click when Enter is pressed in the inputbox
        $(".searchBox").keyup(function (event) {
            if (event.keyCode === 13) {
                $(".searchButton").click();
            }
        });

        // When search button is clicked
        $(".searchButton").click(function () {
            searchText = $('.searchBox').val();
            // Get the modal
            var modal = document.getElementById('myModal');

            // close the modal
            var span = document.getElementsByClassName("close")[0];
            span.onclick = function () {
                modal.style.display = "none";
            }
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

            // Display modal if no text in search box, else call API
            if (searchText.length < 1) {
                modal.style.display = "block";
            } else {
                $.ajax({
                    type: "POST",
                    url: "/Home/ConsumeExternalAPI",
                    data: { "searchKeyword": searchText },
                    success: function (data) {
                        $("#searchResult").html(data);
                    }
                });
            }
        });
    });
</script>